<div class="container">

  <div class="newurl">

    <p>Result of your request displayed nicely</p>
    <p>(Result goes here)</p>
    <%= link_to 'Convert another tiny url', root_path, class: "btn btn-primary" %>

  </div>

</div>