<div class="container">

  <div class="newurl">

    <p>Your shortened url just below:</p>

    <% if @url %>
      <div>
        <p class="generated-url"><%= link_to "#{url_url(@url.slug)}", url_path(@url.slug), target: :blank %></p>
        <p>for url: <%= @url.long_url %></p>
      </div>
    <% else %>
      <p>No url provided</p>
    <% end %>

    <%= link_to 'Shorten another url', root_path, class: "btn btn-outline-primary" %>

  </div>

</div>